.active-ln {
  color: #0099cc;
  border-bottom: 2px solid #0099cc;
}
nav .divider {
  width: 2px;
  height: 10px;
  background-color: rgb(203, 236, 238) !important;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .hide-768 {
    display: none;
  }
  nav {
    padding-top: 10px;
  }
  nav a {
    text-decoration: none;
    margin-left: 10px;
  }
}
