name: flutter_facebook_auth_web
description: web support for flutter_facebook_auth
version: 2.0.0-nullsafety.0
homepage: https://github.com/darwin-morocho/flutter-facebook-auth/tree/master/flutter_facebook_auth_web

environment:
  sdk: '>=2.12.0-0 <3.0.0'
  flutter: ">=1.20.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  js: ^0.6.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      web:
        pluginClass: FlutterFacebookAuthPlugin
        fileName: flutter_facebook_auth_web.dart
